/***** div layout *******/

section#phpbbsection. {
    overflow: hidden;
}

/* side view big screen maxed out */
@media screen and (min-width: 1024px)
{
    .index-left {
        width: auto;
        overflow: hidden;
    }
    .index-right {
        float: right;
        margin-left: 10px;
        width: 302px;
    }
}

/* smartphones */
/* put side view as top block anyways */
@media only screen and (max-width: 1024px) {
    /*hide the forum index */
    .index-left, .index-right {
        width: auto;
        display: block;
        width: 100%;
    }
}

.rt_title
{
    padding: 0px 0px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

dl dd.recenttopics
{
    background-repeat: no-repeat;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 0;
    width: 90%; !important;
}

dl dt.recenttopics
{
    background-repeat: no-repeat;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 0;
    width: 90%; !important;
}