/***** div layout *******/

section#phpbbsection. {
    overflow: hidden;
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    .index-left {
        width: auto;
        overflow: hidden;
    }
    .index-right {
        float: right;
        margin-left: 10px;
        width: 302px;
    }
}
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
    .index-left {
        width: auto;
        overflow: hidden;
        display:none;
    }

    .index-right {
        float: right;
        margin-left: 10px;
        width: 100%;
    }
}

.rt_title
{
    padding: 0px 0px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

dl dd.recenttopics
{
    background-repeat: no-repeat;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 0;
    width: 90%; !important;
}

dl dt.recenttopics
{
    background-repeat: no-repeat;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 0;
    width: 90%; !important;
}